---
version: "3"

services:
  node:
    image: node:20.0.0-alpine
    user: node
    tty: true
    stdin_open: true
    working_dir: /home/node
    env_file: .env
    ports:
      - 8000:8000
      - 8001:8001
    volumes:
      - .:/home/node
